.right {
	border-right: 1px solid #ccc;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/* head of the table */
thead, th {
  padding: 0 0px 0 15px;
}

/* body of the table */
.td {
  padding: 0 0px 0 5px;
}

.table-sm {
  padding: 0 0px 0 5px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 1px;
}